@{
    Layout = "_LayoutTable";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</section>

@section headers{
    @RenderSection("headers", false)
}

@section scripts{
    @RenderSection("scripts", false)
}