.ckbox,.rdio{position: relative;display:block;padding-right:12px;line-height: initial;float:left;}
.ckbox input[type="checkbox"],.rdio input[type="radio"]{opacity: 0;margin: 3px 0 0;}
.ckbox label,.rdio label{padding-left: 10px;cursor: pointer;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
.ckbox label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;border: 1px solid #ccc;background: #fff;}
.ckbox input[type="checkbox"]:disabled + label{color: #999;}
.ckbox input[type="checkbox"]:disabled + label:before{background-color: #eee;}
.ckbox input[type="checkbox"]:checked + label::after{font-family: 'FontAwesome';content: "\F00C";position: absolute;top: 4.5px;left: 3.5px;display: inline-block;font-size: 11px;width: 16px;height: 16px;color: #fff;}
.ckbox input[type="checkbox"]:checked + label:before{border-color: #337ab7;background-color: #337ab7;}
.rdio label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;border: 1px solid #ccc;background: #fff;}
.rdio input[type="radio"]:disabled + label{color: #999;}
.rdio input[type="radio"]:disabled + label:before{background-color: #eee;}
.rdio input[type="radio"]:checked + label::after{content: '';position: absolute;top: 5px;left: 4px;display: inline-block;font-size: 11px;width: 10px;height: 10px;background-color: #444;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.rdio input[type="radio"]:checked + label:before{border-color: #337ab7;}
.rdio input[type="radio"]:checked + label::after{background-color: #337ab7;}

.form{width:100%;margin:0px;padding:0px;border-collapse:collapse;border-width:3px 1px 1px;table-layout:fixed}
.form .formTitle{position:relative;left:0px;text-align:right;white-space:nowrap;font-weight:normal;width:90px;padding-right:15px;}
.form .formTitle font{color:red;position:absolute;right:0px;}
.form .formValue{position:relative;padding:5px;width:auto;}
.form .formValue input.form-control{height:30px;line-height:30px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:5px;resize: none;border-radius: 0px;box-shadow:none;}
.form .formValue select.form-control{border-radius: 0px;box-shadow:none;}
.form .formValue textarea.form-control{padding-left:5px;resize: none;border-radius: 0px;box-shadow:none;}
.form .formValue .input-group .btn{padding: 4px 0px;font-size: 14px;height:30px;min-width: 30px;border-radius: 0px;}
.form .formValue .input-group .btn .fa-ellipsis-h{margin-top: 4.5px;}
.form .formValue.has-error .form-control.error{border-color:#e7bebe;background-color: #fffafa;}
    .form .formValue.has-error i.error {
        color: #e46f61;
        top: 5.5px;
        right: 4px;
        font-size: 16px;
        cursor: pointer;
        z-index: 99;
        position: absolute;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height:30px;
    }
.form .formValue.has-error .form-control.success{border-color:#b0dd9c;background-color: #f3f7f1;}
.form .formValue.has-error .form-control-feedback.success{color: #8cc474;top:5px;right: 4px;font-size:16px;}
.form .formValue.has-error .select2-selection--single{border-color:#e7bebe;background-color: #fffafa;}
.form .formValue.has-error .tooltip-arrow{border-left-color:#d73d32;}
.form .formValue.has-error .tooltip-inner{background-color: #d73d32;}



/*blockui */
.blockOverlay {
    opacity:0.1!important;
    background-color:#444!important;
}
/**/
.select2-container .select2-selection--single {
    border-radius: 0px !important;
    border: 1px solid #ccc;
}

/*form disabled*/
:disabled, .select2-container .select2-selection--single {
    background-color: #fff !important;
    cursor: default !important;
}
/***/
.btn_split {
    padding-left: 8px;
}

.fixed-table-container {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

/*头部下拉菜单*/
.main-header .dropdown-menu .divider {
    margin-top: 0;
    margin-bottom:0px;
}
.main-header .dropdown-menu > li > a {
    padding: 5px 20px;
}



.ui-layout .panel-Title {
    border-color: #c5c5c5;
    background-color: #fff;
    color: #666;
    height: 32px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 9px;
}

.ui-layout .west-Panel {
    background: #fff;
    border: 1px solid #ccc;
    padding: 0px;
}

.ui-layout .east-Panel {
    margin-right: 10px;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0px;
}

.ui-layout .center-Panel {
    border: 1px solid #ccc;
    background: #fff;
}

    .ui-layout .center-Panel .titlePanel {
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .ui-layout .center-Panel .ui-widget-content {
        border: none;
        border-top: 1px solid #ccc;
    }