@{
    ViewData["title"] = "发邮件";
    Layout = "_SimpleTable";
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <ul class="nav nav-tabs padding-18">
                <li class="active">
                    <a href="javascript:void(0);">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        发邮件
                    </a>
                </li>
                <li>
                    <a href="/demo/ck">
                        <i class="orange ace-icon fa fa-cog bigger-120"></i>
                        富文本编辑框
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/demo/sendmail" method="post">
            <div class="box-body">
                <div class="callout callout-success">
                    <h4>邮件发送</h4>
                    <p></p>
                </div>
                <table class="form">
                    <tr>
                        <th class="formTitle">发件人:<font face="宋体"></font></th>
                        <td class="formValue">
                            <input type="text" value="373197550@qq.com" name="mailFrom" class="form-control" placeholder="" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">收件人:</th>
                        <td class="formValue">

                            <input type="text" value="yilinglin@dj.cn" name="mailTo" class="form-control" placeholder="" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>

                    <tr>
                        <th class="formTitle">内容</th>
                        <td class="formValue">
                            <textarea class="form-control" name="Text" style="height: 70px;" placeholder=""></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-success">发送</button>
            </div>
        </form>
    </div>

    <!-- /.tab-content -->
</section>

@section scripts{

}