@{
  
    Layout = null;
}
@Html.Raw(ViewBag.cc)
<form enctype="multipart/form-data" method="POST" dir="ltr" lang="zh-cn" action="/Image/ckupload?type=Images&CKEditor=editor1&CKEditorFuncNum=2&langCode=zh-cn">
    <label id="cke_153_label" for="cke_154_fileInput_input" style="display:none">上传到服务器上</label>
    <input id="cke_154_fileInput_input" aria-labelledby="cke_153_label" type="file" name="upload" size="38">
</form>

@section scripts{

}