
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- Bootstrap 3.3.6 -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="~/mgr/ui/global/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/mgr/adminlte/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/mgr/adminlte/dist/css/skins/_all-skins.css" rel="stylesheet" />


    <link href="/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />



    @*<link href="../content/min/css/supershopui.common.min.css" rel="stylesheet" />*@

    <link href="~/lib/bootstrap-table/src/bootstrap-table.css" rel="stylesheet" />
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />

    <!--全局通用框架样式 end-->
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .row {
            margin-left: -12px;
            margin-right: -12px;
        }

        #searchform .form-group {
            padding-right: 5px !important;
            padding-top: 12px !important;
        }

            #searchform .form-group input, #searchform .form-group select {
                width: 115px;
            }

        #searchform, #searchform label, #searchform input {
            font-size: 12px !important;
        }

        select {
            padding: 3px 4px;
            height: 30px;
        }

        .form-control, select {
            border-radius: 0;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            color: #858585;
            background-color: #fff;
            border: 1px solid #d5d5d5;
        }

        input, button, select, textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

        .table > thead > tr {
            color: #333;
            font-size: 14px;
            font-weight: normal;
            background: #f2f2f2;
            background-image: -webkit-linear-gradient(top,#f8f8f8 0%,#ececec 100%);
            background-image: -o-linear-gradient(top,#f8f8f8 0%,#ececec 100%);
            background-image: linear-gradient(to bottom,#f8f8f8 0%,#adaaaa 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0);
        }

        .pagination {
            margin: 5px 0;
            float: right;
        }
    </style>
    @RenderSection("headers", false)
</head>
<body>
    <mini-profiler />
    @RenderBody()



    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>




    <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>

    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/lib/layer/build/layer.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/select2/dist/js/i18n/zh-CN.js"></script>

    <script src="~/js/placeholder.js"></script>
    <script type="text/javascript">
        (function () {
            $.MsgBox = {
                Alert: function (msg, title) {
                    if (title == null) {
                        title = "提示";
                    }
                    layer.alert(msg, { title: title });
                },
                Confirm: function (msg, callback, title) {
                    if (title == null) {
                        title = "提示";
                    }
                    layer.confirm(msg, { title: title }, function (index) {
                        callback();
                        layer.close(index);
                    });
                }
            }
        })();
    </script>

    @RenderSection("scripts", required: false)


</body>

</html>