@{ 
    Layout = "_LayoutTable";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="titlePanel">
                @RenderBody()
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</section>

@section headers{
    @RenderSection("headers", false)
}

@section scripts{
    @RenderSection("scripts", false)
}