@{
    ViewData["title"] = "分布式服务Hangfire";
    Layout = "_SimpleTable";
}

<!-- Main content -->
<section class="content">
    @*<div class="box box-primary">*@
     
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
              @ViewBag.JobStr
            
            </div>
            <!-- /.box-body -->
            @*<div class="box-footer">
                <button type="submit" class="btn btn-success">保存</button>
            </div>*@
        </form>
    @*</div>*@

    <!-- /.tab-content -->



</section>
@section scripts{

}